/*
 theme:   Dramsoc (Moesia Child)
 Description:  Dramsoc theme (Moesia Child Theme)
 Author:       Gautam Kambhampati, John Oliver
 Author URI:   http://dramsoc.org/
 Template:     moesia
 Version:      1.0.0
 License:      GNU General Public License v2
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: light, two-columns, three-columns, right-sidebar, fluid-layout, responsive-layout, custom-colors, custom-background, custom-header, custom-menu, featured-images, sticky-post, theme-options, threaded-comments, translation-ready

This theme exists as a collection of modifications to the Moesia theme found
at http://athemes.com/theme/moesia


# dramsoc-theme-child-moseia
Child theme to incorporate our customisations to the Moesia theme used 
on our website. The purpose of a child theme is to allow us to continue 
updating to new versions of the parent theme without breaking our own 
customisations.

This theme depends on the "Moesia" theme and it will 
have to be installed in the wordpress installation 
in order to function as it contains many of the neccessary files.
https://wordpress.org/themes/moesia/

These modifications are provided under the terms of the GNU GPL 
(General Public License) version 2. There is no warranty, not even
the implied warranties of merchantability or fitness for a particular
purpose.

Copyright (C) 2015
Imperial College Dramatic Society 
Imperial College Union, Beit Quadrangle
Prince Consort Road, South Kensington
LONDON SW7 2BB, United Kingdom


*/
